body{
    font-family: 'Times New Roman';
}

a{
    color: blue;
}
.div1{
    width: 100%;
    display: flex;
}
.logodiv{
    height: 204;
    width: 204;
  
}
.logo{
    height: 200px;
    width: 200px;
    margin: 0px;
}
.text{
    padding-left: 250px;
    text-align: center;
}
p{
    padding-left: 40px;
}
.head1{font-size: 40px;

}
.link1{
    font-size: 20px;
}